
.carrusell-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

}

.carrusell-card {
    margin-top: 2%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39,0.575,0.565,1);
}
/*
.carrusell-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carrusell-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}
*/
.carrusell-buttons {
    display: flex;
    justify-content: center;
}

.carrusell-item {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    background-color: #77c7df;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carrusell-item .active {
    width: 20px;
    height: 20px;
    background-color: #1b233d;
}
