#footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
}

.autor {
  margin-bottom: 2%;
  margin-top: 5%;
}

@media (max-width: 768px) {
  #curriculum {
    height: 100%;
    margin: 5%;
    margin-top: 12%;
  }
}
