#home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cita {
  padding: 2%;
  font-style: italic;
}

.section-text {
  line-height: 1.6;
  width: 60%;
}

.section-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: justify;
}

@media (max-width: 768px) {
  #home {
    height: 100%;
  }
  .home-header {
    margin-top: 18%;
  }
  .home-presentation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 3%;
  }

  .section-text {
    width: 90%;
  }
}

/* Prueba*/
/*
.logo-idavid .light svg path {
  fill: blue; 
}

.logo-idavid .dark svg path {
  fill: red; 
}


.section-text {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-text h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.section-text .cita {
  font-style: italic;
  color: #555;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.section-text .cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}

.section-text p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
  text-align: justify;
}

.section-text p:last-child {
  margin-bottom: 0;
}
*/
