.experience {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #f3f4f6, #e5e7eb); /* light mode */
  color: #111827;
  }

.dark .experience {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.experience-container {
  max-width: 1280px;
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
}

.experience-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  margin-bottom: 2rem;
}

.experience-filters {
  display: flex;
  flex-wrap: wrap; /* Importante para móviles: permite que bajen de línea */
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3rem;
}
.filter-btn {
  padding: 0.5rem 1.25rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: #111827;
  transition: all 0.2s ease;
}
.filter-btn.active {
  background-color: #3b82f6;
  color: white;
  box-shadow: 0 4px 10px rgba(59, 130, 246, 0.3);
}
.filter-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.dark .filter-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.dark .filter-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.dark .filter-btn.active {
  background-color: #14b8a6;  
}
/* GRID */
.experience-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 
}

/* CARD */
.experience-card {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; /* Para que todas tengan la misma altura */
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.experience-image {
  margin-top: 1rem;
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.experience-content {
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ocupa el espacio restante */
}

.experience-title-card {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  line-height: 1.4;
}

.experience-company {
  font-size: 0.95rem;
  opacity: 0.8;
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: #3b82f6;
}
.dark .experience-company {
  color: #2dd1be;
}

.experience-date {
  font-size: 0.85rem;
  color: #6b7280;
  margin-bottom: 1rem;
  font-style: italic;
}
.dark .experience-date {
  color: #9ca3af;
}

.experience-desc {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #4b5563;
  flex-grow: 1
}
.dark .experience-desc {
  color: #d1d5db;
}
.experience-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.experience-tech {
 font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  background: #dadde2;
  color: #374151;
  border: 1px solid #e5e7eb;
}
.dark .experience-tech {
  background: #374151;
  color: #d1d5db;
  border: 1px solid #4b5563;
}
/* --- BOTÓN --- */
.experience-btn {
  margin-top: auto;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.2s ease;
  
  /* Estilo por defecto (Light) */
  background: #374151;
  color: white;
}

.experience-btn:hover {
  background:  #3b82f6;
  transform: translateY(-2px);
}

.dark .experience-btn {
  background: #374151;
  color: white;
}

.dark .experience-btn:hover {
  background: #14b8a6;
}

